{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{# @var field \EasyCorp\Bundle\EasyAdminBundle\Dto\FieldDto #}
{# @var entity \EasyCorp\Bundle\EasyAdminBundle\Dto\EntityDto #}
{% if 'toMany' == field.customOptions.get('associationType') %}
    <table>
        <tr>
            <th>Id</th>
            <th>Date</th>
            <th>Battery</th>
            <th>Flowrate</th>
        </tr>
        {% for row in field.value %}
        <tr>
            <td>{{ row.id }}</td>
            <td>{{ row.date|ago }}</td>
            <td>{{ row.battery }} Volts</td>
            <td>{{ row.flowrate }} lt/min</td>
        </tr>
        {% endfor %}
    </table>
{% else %}
    {% if field.customOptions.get('relatedUrl') is not null %}
        <a href="{{ field.customOptions.get('relatedUrl') }}">{{ field.formattedValue }}</a>
    {% else %}
        {{ field.formattedValue }}
    {% endif %}
{% endif %}
