{% extends 'base.html.twig' %}

{% block title %}Sensors{% endblock %}

{% block body %}
    <h1>Sensors</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ sensor.id }}</td>
            </tr>
            <tr>
                <th>DevEui</th>
                <td>{{ sensor.devEui }}</td>
            </tr>
            <tr>
                <th>LastSeen</th>
                <td>{{ sensor.lastSeen ? sensor.lastSeen|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>LastBattery</th>
                <td>{{ sensor.lastBattery }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('sensors_index') }}">back to list</a>

    <a href="{{ path('sensors_edit', {'id': sensor.id}) }}">edit</a>

    {{ include('sensors/_delete_form.html.twig') }}
{% endblock %}
