{% extends 'base.html.twig' %}

{% block title %}Sources index{% endblock %}

{% block body %}
    <h1>Sources index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for source in sources %}
            <tr>
                <td>{{ source.id }}</td>
                <td>{{ source.name }}</td>
                <td>
                    <a href="{{ path('sources_show', {'id': source.id}) }}">show</a>
                    <a href="{{ path('sources_edit', {'id': source.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('sources_new') }}">Create new</a>
{% endblock %}
