{% extends '@EasyAdmin/page/content.html.twig' %}
{% block content_title %} Fajinfo Sàrl - Suivi des Sources {% endblock %}

{% block main %}
<div class="row">
    {% for source in sources %}
    <div class="col-md-6 col-sm-12">
        <h2>{{ source }}</h2>
        <h3>{% trans %}Current Month Data{% endtrans %}</h3>
        <canvas id="chart{{ source.id }}month" width="400" height="400"></canvas>
            <script type="application/javascript">
                var ctx = document.getElementById('chart{{ source.id }}month');
                var {{ source.id }}month = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: [{% for up in source.sensor.first.uplinks %}'{{ up.date|date('d/m/Y H:i') }}', {% endfor %}],
                        datasets: [{
                            label: 'Battery Voltage',
                            data: [{% for up in source.sensor.first.uplinks %}'{{ up.battery }}', {% endfor %}],
                            backgroundColor: [
                                'rgba(255, 99, 132, 0.2)',
                                'rgba(54, 162, 235, 0.2)',
                                'rgba(255, 206, 86, 0.2)',
                                'rgba(75, 192, 192, 0.2)',
                                'rgba(153, 102, 255, 0.2)',
                                'rgba(255, 159, 64, 0.2)'
                            ],
                            borderColor: [
                                'rgba(255, 99, 132, 1)',
                                'rgba(54, 162, 235, 1)',
                                'rgba(255, 206, 86, 1)',
                                'rgba(75, 192, 192, 1)',
                                'rgba(153, 102, 255, 1)',
                                'rgba(255, 159, 64, 1)'
                            ],
                            borderWidth: 1
                        }]
                    }
                })
            </script>
    </div>
    {% endfor %}
</div>
{% endblock %}
